*{
	box-sizing: border-box;
}
body{
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/bg-body.png);
  background-attachment: fixed;
}
img{
  width: 100%;
}
ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 95%;
  margin:auto;
}
.logo{
  border-radius: 50%;
  border: solid 1px #ccc;
  margin: 30px auto;
  display: block;
  box-shadow: 0 0 5px #000;
  max-width: 140px;
}
.toggle-nav{
  background-color: #333;
  display: block;
  width: 45px;
  text-align: center;
  padding: 10px 0;
  margin: auto;

}
.ion-navicon-round{
  color: #fff;
  font-size: 25px;
}
.main-nav ul{
  list-style: none;
  margin-bottom: 15px;
  }
.main-nav a{
  display: block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #000;
  padding: 15px;
}
.banner{
  display: none;
}
.product{
  margin-bottom: 15px;
}
.product a{
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 1em;
}
.main-footer{
  background-color: #f21010;
  border-radius: 20px 20px 0 0;
}
.main-footer a{
  display: block;
  color: #fff;
  font-size: 1.1em;
  padding: 1em;
  text-align: center;
  border-bottom: solid 1px #fff;
}
@media (min-width:640px){

  .toggle-nav{
	 display: none;
 }
 .main-nav ul {
	 display: inline-block;
	 overflow: hidden;
	}
.main-nav li {
	float: left;
	width: 15%;
	font-size: 0.6em;
	text-align: center;
	margin: 0 0.83%;
}
.banner{
	display: block;
	margin: 30px 0.83%;
}
.vip-products{

}
.product{
	float: left;
	margin-left: 0.83%;
	margin-right: 0.83%;
	width: 48.33%;
}
@media (min-width:960px){
	.product{
		width: 31.77%;
	}
	.main-footer ul{
		text-align: center;
	}
	.main-footer li{
		display: inline-block;
		border-right: solid  1px rgb(255, 255, 255, 0.8);
	}
	.main-footer a{
		border: none;
	}
	.main-footer li: last-child{
		border-right: none;
	}
}
